<div *ngIf="loading">Cargando...</div>
<div *ngIf="error">{{ error }}</div>

<form [formGroup]="medicoForm" (ngSubmit)="guardarMedico()">
  <div class="form-row">
    <div class="form-group">
        <label>Nombre:</label>
        <input formControlName="nombre">
    </div>
    <div class="form-group">
        <label>Apellido:</label>
        <input formControlName="apellido">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group">
        <label>Matrícula:</label>
        <input formControlName="matricula">
    </div>
    <div class="form-group">
        <label>Especialidad:</label>
        <input formControlName="especialidad">
    </div>
  </div>

  
  <div class="form-row">
    <div class="form-group">
        <label>Teléfono:</label>
        <input formControlName="telefono">
    </div>
    <div class="form-group">
        <label>Email:</label>
        <input formControlName="email">
    </div>
  </div>


  <button type="submit">{{ medicoId ? 'Actualizar' : 'Crear' }}</button>
</form>
