<div *ngIf="loading">Cargando...</div>
<div *ngIf="error">{{ error }}</div>

<form [formGroup]="mascotaForm" (ngSubmit)="guardarMascota()">
  <div class="form-row">
    <div class="form-group">
      <label>Nombre:</label>
      <input formControlName="nombre">
    </div>
    <div class="form-group">
        <label>Fecha de nacimiento:</label>
        <input type="date" formControlName="fecha_nacimiento">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group">
        <div class="form-group">
          <label>Especie:</label>
          <select formControlName="especie">
            <option *ngFor="let e of ['perro','gato','ave','otro']" [value]="e">
              {{ e | titlecase }}
            </option>
          </select>
        </div>
    </div>
    <div class="form-group">
        <label>Raza:</label>
        <input formControlName="raza">
    </div>
  </div>
  <div class="form-row">
        <div class="form-group">
            <label>Cliente:</label>
            <select formControlName="cliente">
              <option *ngFor="let c of clientes" [value]="c.id">
              {{ c.nombre }} {{ c.apellido }}
              </option>
            </select>
        </div>
  </div>
  <div class="button-row">
    <button type="submit">{{ mascotaId ? 'Actualizar' : 'Crear' }}</button>
    <button type="button" [routerLink]="'/mascotas-list'">Ver Mascotas</button>
  </div>

  
</form>
